@import "@/styles/theme/base/button/index.scss";

.fv-light-button {
    @include fv-button();

    .button-container {
        background: rgba(237, 235, 233, 1);

        &:hover {
            background: rgba(237, 235, 233, 0.8);
            opacity: 0.9;
        }

        &.shadow {
            box-shadow: rgba(0, 0, 0, 0.133) 0px 3.2px 7.2px 0px, rgba(0, 0, 0, 0.11) 0px 0.6px 1.8px 0px;
        }

        &.disabled {
            filter: grayscale(1);
            opacity: 0.6;
        }
    }
}
