@import "@/styles/theme/index.scss";

.fv-Drawer {
    position: fixed;
    background-color: rgba(239, 239, 239, 0.99);
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12px);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: transform 0.3s;
    // filter:blur(2px);
    transition-timing-function: ease-in-out;

    .fv-drawer-control-block {
        position: relative;
        width: 100%;
        height: 75px;
        padding: 0px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .drawer-title {
            font-size: 20px;
            font-weight: 600;
            color: rgba(50, 49, 48, 1);
        }

        .control-btn {
            position: relative;
            width: 35px;
            height: 35px;
            border-radius: 6px;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                background: rgba(0, 0, 0, 0.05);
            }
        }
    }

    .fv-drawer-main-container {
        position: relative;
        width: 100%;
        flex: 1;
        box-sizing: border-box;
        display: flex;
        overflow: hidden;
    }

    .fv-drawer-footer {
        position: relative;
        width: 100%;
        height: 80px;
        background: rgba(245, 245, 245, 0.6);
        border-top: rgba(36, 36, 36, 0.1) solid thin;
        box-sizing: border-box;
        display: flex;
        align-items: center;
    }
}
