@import "@/styles/theme/index.scss";

.fv-Pivot {
    position: relative;
    width: auto;
    height: 45px;
    border-radius: 3px;
    overflow-x: overlay;
    overflow-y: visible;

    .pivot-wrapper {
        position: relative;
        width: auto;
        height: 100%;
    }

    &.tab {
        .pivot-container {
            z-index: 1;

            .pivot-item {
                &.choose {
                    p {
                        color: whitesmoke;
                    }
                }
            }
        }

        .slider {
            top: 2.5px;
            bottom: none;
            height: calc(100% - 5px);
            overflow: visible;
            z-index: 0;

            .fv-pivot-s {
                height: 100%;
                padding: 0px;

                .fv-pivot-s-item {
                    &.is-boxshadow {
                        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
                    }
                }
            }
        }
    }

    .pivot-container {
        position: relative;
        width: auto;
        height: 100%;
        display: flex;
        z-index: 0;

        .pivot-item {
            position: relative;
            height: 100%;
            padding: 0px 3px;
            flex-shrink: 0;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;

            p {
                @include nowrap;

                font-size: 18px;
                font-weight: 600;
                color: rgba(50, 49, 48, 1);
                opacity: 0.8;
                user-select: none;
                transition: all 0.1s;
                cursor: default;
            }

            &:hover {
                p {
                    opacity: 1;
                }
            }

            &.choose {
                p {
                    opacity: 1;
                }
            }

            &.disabled {
                filter: grayscale(1);
                opacity: 0.6;

                &:hover {
                    p {
                        opacity: 0.8;
                    }
                }
            }
        }
    }

    .slider {
        position: absolute;
        left: 0px;
        bottom: 0px;
        width: 100%;
        height: auto;
        overflow: hidden;
        z-index: 1;

        .fv-pivot-s {
            position: relative;
            width: 60px;
            height: 3px;
            margin: 0px;
            padding: 0px 12px;
            box-sizing: border-box;
            float: left;

            p {
                position: relative;
                width: 100%;
                height: 100%;
                margin: 0px;
                background: rgba(0, 90, 158, 1);
                border-radius: 3px;
            }
        }
    }
}
