.fv-button {
    position: relative;
    min-width: 80px;
    height: 28px;
    box-sizing: border-box;
    display: inline-flex;
    user-select: none;
    cursor: pointer;

    button.button-container {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        box-sizing: border-box;
        transition: all 0.3s;

        &.disabled{
            cursor: default;
        }

        span.content-block {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            i.ms-Icon {
                margin-right: 5px;
            }
        }
    }
    &.disabled{
        pointer-events: none;
    }
}
