.fv-Button {
    position: relative;
    width: 80px;
    height: 30px;
    box-sizing: border-box;
    display: flex;
    user-select: none;

    div.fv-button-main-container {
        position: relative;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        display: flex;
        overflow: hidden;

        &:hover {
            background: rgba(121, 119, 117, 0.1);
            transition: all 0.6s;
        }

        &.shadow {
            box-shadow: rgba(0, 0, 0, 0.333) 0px 0.3px 1px;
            transition: box-shadow 0s;

            &:active {
                box-shadow: rgba(0, 0, 0, 0) 0px 0.3px 1px;
            }
        }

        &.disabled {
            background: transparent;
            filter: grayscale(1);
            box-shadow: none;
            opacity: 0.6;
        }

        .fv-button-reveal-container {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
        }

        .fv-button-container {
            width: 100%;
            height: 100%;
            background: rgba(251, 251, 251, 1);
            outline: none;
            box-sizing: border-box;
            transition: all 0.3s;

            span.fv-btn-content-block {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .fv-button-regular-border
        {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            border: rgba(0, 0, 0, 0.1) solid thin;
        }
    }
}
