@import '@/styles/theme/index.scss';

.fv-NavigationView {&.dark {

    .navigation-list
    {
        .item
        {
            &:hover
            {
                background: $row-dark-hover-glass;
            }
        }

        i.icon {
            color: whitesmoke;
        }

        p.name {
            color: whitesmoke;
        }
    }
}
    
}