@import "@/styles/theme/index.scss";

.fv-Collapse {
    &.dark {
        --collapse-background-color: rgba(45, 45, 45, 1);
        --collapse-hover-background-color: rgba(50, 50, 50, 1);
        --collapse-border-color: #373738;

        background: var(--collapse-background-color);
        border-color: var(--collapse-border-color);
        color: whitesmoke;

        .collapse-description-container {
            .collapse-description-box {
                .collapse-description {
                    .collapse-text {
                        .collapse-info {
                            color: rgba(156, 156, 156, 1);
                        }
                    }
                }
            }
        }

        &:hover {
            background: var(--collapse-hover-background-color);
        }
    }
}
