@import "@/styles/theme/index.scss";

.fv-MenuFlyout {
    &.dark {
        &:hover {
            border-color: rgba(250, 250, 250, 0.6);
        }

        &:active {
            background: rgba(250, 250, 250, 0.1);
            border-color: rgba(250, 250, 250, 0.3);
        }

        .menu-flyout-list-container {
            .menu-flyout-item-container {
                background: rgba(36, 36, 36, 0.9);

                .fv-menu-flyout-item {
                    color: whitesmoke;

                    &.title {
                        color: rgba(118, 185, 237, 1);
                    }

                    .before-choosen {
                        background: rgba(118, 185, 237, 1);
                    }
                }
            }
        }
    }
}
