.fv-button {
    &.dark {
        .button-container {
            background: var(--fv-dark-bgcolor);
            color: var(--fv-dark-color);

            &:hover {
                background: var(--fv-dark-hover-bgcolor);
                opacity: 0.9;
            }

            &.disabled {
                background: var(--fv-dark-disabled-bgcolor);
                color: var(--fv-dark-disabled-color);
                &:hover {
                    background: var(--fv-dark-disabled-bgcolor);
                    opacity: 1;
                }
            }
        }
    }
}
