.fv-Button {
    &.dark {
        div.fv-button-main-container {
            &:hover {
                background: rgba(243, 242, 241, 0.1);
            }

            .fv-button-container {
                background: rgba(45, 45, 45, 1);

                span.fv-btn-content-block {
                    color: whitesmoke;
                }
            }

            .fv-button-regular-border {
                border: rgba(48, 48, 48, 0.1) solid thin;
            }
        }
    }
}
