.fv-checkbox {
    .label {
        position: relative;
        cursor: pointer;
        vertical-align: middle;
        white-space: nowrap;
        user-select: none;
        display: inline-flex;
        align-items: center;
        .checkbox {
            top: 0;
            left: 0;
            position: absolute !important;
            cursor: pointer;
            appearance: none;
        }
        .icon {
            overflow: hidden;
            position: relative;
            width: 20px;
            height: 20px;
            padding: 0;
            margin: 0;
            margin-left: 5px;
            margin-right: 5px;
            border-radius: 3px;
            border-width: 1px;
            border-style: solid;
            display: inline-flex;
            justify-content: center;
            align-items: center;

            .icon-box {
                position: absolute;
                background-color: inherit;
                height: 100%;
                width: 100%;
                transform: translateX(100%);
            }

            .font-clip-in-enter-active {
                transition: transform 0.3s linear;
            }

            .font-clip-in-enter-from {
                transform: translateX(0);
            }

            .ms-Icon {
                height: 18px;
                width: 18px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0;
                line-height: 13px;
                font-weight: bold;
                font-size: 13px;
            }
        }
    }
    &.disabled{
        pointer-events: none;
    }
}
