@import "@/styles/theme/index.scss";

.fv-ListView {
    &.dark {
        --list-view-selected-border-color: rgba(200, 200, 200, 0.2);

        .list-view-container {
            .list-view-item {
                span,
                p,
                i {
                    color: whitesmoke;
                }

                &:hover {
                    background: $row-dark-hover-glass;
                }

                &.disabled {
                    * {
                        color: rgba(120, 120, 120, 1);
                    }
                }

                &.header {
                    * {
                        color: rgba(118, 185, 237, 1);
                    }
                }

                &.choose {
                    background: rgba(0, 120, 212, 0.6);
                }

                &.hr {
                    border-bottom: rgba(216, 216, 216, 0.3) solid thin;
                }

                &.selected {
                    border: var(--list-view-selected-border-color) solid var(--list-view-selected-border-width);
                }
            }
        }

        .fv-listview-slider {
            .s {
                p {
                    background: rgba(118, 185, 237, 1);
                }
            }
        }
    }
}
