@import "@/styles/theme/index.scss";

.fv-DatePicker {
    &.dark {
        --hover-color: rgba(120, 120, 120, 0.1);

        .fv-date-picker-input {
            background-color: rgba(50, 50, 50, 1);
            color: #fff;
            border-color: rgba(200, 200, 200, 0.1);
            border-width: 1.5px;
        }

        .fv-date-picker-options {
            background-color: rgba(46, 46, 46, 1);
            border-color: rgba(200, 200, 200, 0.1);
            color: whitesmoke;

            .fv-date-picker-options-body {
                background-color: inherit;

                .fv-date-picker-options-body-mask {
                    background-color: rgba(118, 185, 237, 1);
                }

                .fv-date-picker-options-body-col {
                    &:hover {
                        .fv-date-picker-options-body-col-up,
                        .fv-date-picker-options-body-col-down {
                            background-color: rgba(46, 46, 46, 1);
                        }
                    }

                    .fv-date-picker-options-body-item {
                        &:hover {
                            background-color: var(--hover-color);
                        }

                        &.swiper-slide-active {
                            background-color: var(--hover-color);
                            color: rgba(19, 19, 19, 1);

                            &:hover {
                                background-color: var(--hover-color);
                            }
                        }
                    }
                }
            }

            .fv-date-picker-options-bar {
                .fv-date-picker-options-bar-accept,
                .fv-date-picker-options-bar-cancel {
                    &:hover {
                        background-color: rgba(120, 120, 120, 0.1);
                    }
                }
            }
        }
    }
}
