.fv-radio {
    &.dark {
        .label {
            .icon {
                --fv-radio-bgcolor: initial;
                border-color: var(--fv-dark-border-color);
                color: var(--fv-light-color);
                &:hover {
                    background-color: var(--fv-radio-bgcolor, var(--fv-dark-bgcolor));
                }
            }
        }
        &.active {
            .label {
                .icon {
                    border-color: var(--fv-primary-color);
                    background-color: var(--fv-primary-color);
                    color: var(--fv-light-color);
                    .dot {
                        background-color: var(--fv-light-color);
                    }
                }
            }
        }
        &.disabled {
            .label {
                cursor: default;
                .icon {
                    background-color: var(--fv-dark-bgcolor);
                    border-color: var(--fv-dark-bgcolor);
                }
            }
        }
    }
}
