@import "@/styles/theme/index.scss";

.fv-Pivot {
    &.dark {
        .pivot-container {
            z-index: 1;

            .pivot-item {
                p {
                    color: whitesmoke;
                }
            }
        }

        &.tab {
            .pivot-container {
                .pivot-item {
                    &.choose {
                        p {
                            color: black;
                        }
                    }

                    p {
                        color: whitesmoke;
                    }
                }
            }
        }

        .slider {
            .fv-pivot-s {
                .fv-pivot-s-item {
                    background: rgba(118, 185, 237, 1);

                    &.is-boxshadow {
                        box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.3);
                    }
                }
            }
        }
    }
}
