.fv-info-box {
    &.light {
        transition: all .3s linear;
        transition-delay: .3s;
        border-color: var(--fv-light-bgcolor-3);
        .title-bar {
            background: var(--fv-light-bgcolor-3);
            border-bottom-color: var(--fv-light-border-color-2);
        }
        .control-panel {
            background: var(--fv-light-bgcolor-3);
            border-top-color: var(--fv-light-border-color-2);
        }
        .content{
            background: var(--fv-dark-color);
        }
        &.info {        
            &:hover {
                border-color: rgba(var(--fv-primary-color), 1);
            }
            .title-bar {
                .icon {
                    color: rgba(var(--fv-primary-color), 1);
                }
            }   
        }
        &.correct{
            &:hover {
                border-color: rgba(var(--fv-success-color), 1);
            }
            .title-bar {
                .icon {
                    color: rgba(var(--fv-success-color), 1);
                }
            }
        }
        &.error{
            &:hover {
                border-color: rgba(var(--fv-error-color), 1);
            }
            .title-bar {
                .icon {
                    color: rgba(var(--fv-error-color), 1);
                }
            }
        }
        &.warning{
            &:hover {
                border-color: rgba(var(--fv-warning-color), 1);
            }
            .title-bar {
                .icon {
                    color: rgba(var(--fv-warning-color), 1);
                }
            }
        }
        &.blocked{
            &:hover {
                border-color: rgba(var(--fv-error-color), 1);
            }
            .title-bar {
                .icon {
                    color: rgba(var(--fv-error-color), 1);
                }
            }
        }
        
    }
}
