@import '@/libs/office-ui-fabric-core/sass/_References.scss';

:root {
    /* light */
    --fv-light-bgcolor-4: rgba(251, 251, 251, 1);
    --fv-light-bgcolor-3: rgba(245, 245, 245, 1);
    --fv-light-bgcolor2: rgba(204, 204, 204, 1);
    --fv-light-bgcolor: rgba(237, 235, 233, 1);
    --fv-light-hover-bgcolor: rgba(237, 235, 233, 0.8);
    --fv-light-color: rgba(0, 0, 0, 1);
    --fv-light-disabled-bgcolor: rgba(239, 239, 239, 0.5);
    --fv-light-disabled-color: rgba(220, 220, 220, 1);
    --fv-light-border-color: rgb(63, 63, 63, 1);
    --fv-light-border-color-2: rgba(224, 224, 224, 1);
    /* dark */
    --fv-dark-bgcolor: rgba(96, 94, 92, 1);
    --fv-dark-bgcolor-2: rgba(32, 32, 32, 1);
    --fv-dark-bgcolor-3: rgba(39, 40, 40, 1);
    --fv-dark-hover-bgcolor: rgba(96, 94, 92, 0.8);
    --fv-dark-color: rgba(255, 255, 255, 1);
    --fv-dark-disabled-bgcolor: rgba(62, 63, 66, 0.5);
    --fv-dark-disabled-color: rgba(143, 145, 147, 1);
    --fv-dark-border-color: rgba(85, 88, 91, 1);
    --fv-dark-border-color-2: rgba(154, 154, 154, 1);
    /* bgcolor */
    --fv-primary-bgcolor: 0, 90, 158;
    --fv-warning-bgcolor: 255, 200, 10;
    --fv-error-bgcolor: 250, 65, 0;
    --fv-info-bgcolor: 243, 242, 241;
    --fv-success-bgcolor: 95, 210, 85;
    /* color */
    --fv-primary-color: 0, 90, 158;
    --fv-warning-color: 239, 201, 65;
    --fv-error-color: 164, 38, 45;
    --fv-info-color: 50, 49, 48;
    --fv-success-color: 0, 204, 153;
}

* {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

$row-light-hover: rgba(243, 242, 241, 1);
$row-light-active: rgba(237, 235, 233, 1);
$row-dark-hover: rgba(37, 36, 35, 1);
$row-dark-active: rgba(41, 40, 39, 1);
$row-light-hover-glass: rgba(243, 242, 241, 0.3);
$row-light-active-glass: rgba(237, 235, 233, 0.3);
$row-dark-hover-glass: rgba(37, 36, 35, 0.3);
$row-dark-active-glass: rgba(41, 40, 39, 0.3);

$border-std-color: $ms-color-sharedCyanBlue10;
$border-correct-color: rgba(0, 204, 153, 1);
$border-error-color: rgba(173, 38, 45, 1);

$t-light-36: rgba(36, 36, 36, 1);
$t-light-50: rgba(50, 49, 48, 1);
$t-light-96: rgba(96, 94, 92, 1);

@mixin nowrap {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@mixin narrow-scroll-bar {
    ::-webkit-scrollbar {
        width: 10px;
        height: 8px;

        &:hover {
            width: 16px;
        }
    }
    /*定义滚动条轨道
 内阴影+圆角*/
    ::-webkit-scrollbar-track {
        border-radius: 10px;
    }
    /*定义滑块
 内阴影+圆角*/
    ::-webkit-scrollbar-thumb {
        border-right: rgba(191, 190, 189, 0.2) solid 5px;
        background-color: rgba(191, 190, 189, 0);
        transition: background-color 0.3s;
        cursor: pointer;

        &:hover {
            border-radius: 10px;
            border-color: transparent;
            background-color: rgba(191, 190, 189, 0.6);
        }

        &:active {
            background-color: rgba(191, 190, 189, 0.5);
        }

        &:horizontal {
            border-right: none;
            border-bottom: rgba(191, 190, 189, 0.2) solid 5px;
        }
    }
}
