:root {
    /* light */
    --fv-light-bgcolor2: rgba(204, 204, 204, 1);
    --fv-light-bgcolor: rgba(237, 235, 233, 1);
    --fv-light-hover-bgcolor: rgba(237, 235, 233, 0.8);
    --fv-light-color: rgba(0, 0, 0, 1);
    --fv-light-disabled-bgcolor: rgba(239, 239, 239, 0.5);
    --fv-light-disabled-color: rgba(220, 220, 220, 1);
    --fv-light-border-color: rgb(63, 63, 63, 1);
    /* dark */
    --fv-dark-bgcolor: rgba(96, 94, 92, 1);
    --fv-dark-hover-bgcolor: rgba(96, 94, 92, 0.8);
    --fv-dark-color: rgba(255, 255, 255, 1);
    --fv-dark-disabled-bgcolor: rgba(62, 63, 66, 0.5);
    --fv-dark-disabled-color: rgba(143, 145, 147, 1);
    --fv-dark-border-color: rgba(85, 88, 91, 1);
    /* color */
    --fv-primary-color: rgba(0, 90, 158, 1);
    --fv-warning-color: rgba(239, 199, 59, 1);
    --fv-error-color: rgba(200, 50, 59, 1);
}
