.fv-CalendarView {
    &.dark {
        --highlight-background: rgba(118, 185, 237, 0.8);
        --choosen-background: rgba(118, 185, 237, 1);
        --range-choose-background-fe: rgba(0, 176, 215, 0.9);
        --range-choose-background-middle: rgba(0, 176, 215, 0.6);

        background: rgba(0, 0, 0, 0.9);
        border: rgba(255, 255, 255, 0.2) solid 1px;
        color: rgba(245, 245, 245, 0.9);

        .fv-calendar-control-block {
            .calendar-switcher {
                color: rgba(245, 245, 245, 0.9);

                &:hover {
                    background: rgba(120, 120, 120, 0.3);
                    color: whitesmoke;
                    opacity: 1;
                }
            }

            .slider-bar {
                .slider-btn {
                    &:hover {
                        background: rgba(120, 120, 120, 0.3);
                    }

                    &:active {
                        background: rgba(120, 120, 120, 0.2);
                    }
                }
            }
        }

        .container-block {
            .day-block {
                .weekdays-block {
                    .weekday {
                        color: rgba(245, 245, 245, 0.9);
                    }
                }
            }

            .picker-container {

                button.picker-btn {
                    color: rgba(245, 245, 245, 0.6);

                    &:hover {
                        border: rgba(255, 255, 255, 0.6) solid 2px;
                    }

                    &.range {
                        color: whitesmoke;
                    }

                    &.current {
                        background: var(--highlight-background);
                        color: whitesmoke;

                        &:hover {
                            border: rgba(0, 0, 0, 0.35) solid 2px;
                        }

                        &.choose {
                            border: rgba(255, 255, 255, 0.6) solid 2px;
                        }
                    }

                    &.choose {
                        border: var(--choosen-background) solid 2px;

                        &.range-choose-fe {
                            background: var(--range-choose-background-fe);
                            color: whitesmoke;
                        }

                        &.range-choose-middle {
                            background: var(--range-choose-background-middle);
                            color: whitesmoke;
                            border-color: transparent;
                        }
                    }
                }
            }
        }
    }
}
